name: 'Build'

env:
  VERSION: 5.5.0
  PACKAGE_SUFFIX: '-pre.6'
  # PACKAGE_SUFFIX: ''
  ASM_VERSION: 5.0.0

on:
  push:
    branches:
    - master
    - feature/**
    paths-ignore:
    - 'docs/**'

  pull_request:
    branches:
    - master
    paths-ignore:
    - 'docs/**'

  workflow_dispatch:

jobs:
  test:
    name: 🧪 Unit Tests - ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux x64
          - os: windows-latest
            name: Windows x64
          - os: windows-latest
            name: Windows x86
            runtime: win-x86
          - os: macos-latest
            name: MacOS ARM64
      fail-fast: false
    steps:
    
    # Workaround for win-x86 see: https://github.com/actions/setup-dotnet/issues/72#issuecomment-2722269405
    # This must be done before the normal setup-dotnet action to ensure DOTNET_ROOT refers to the 64-bit installation
    - name: Setup .NET x86
      if: matrix.runtime == 'win-x86'
      uses: actions/setup-dotnet@v4
      env:
        PROCESSOR_ARCHITECTURE: x86
        DOTNET_INSTALL_DIR: C:\Program Files (x86)\dotnet
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x
          10.0.x
  
    # Copy DOTNET_ROOT from the above step to DOTNET_ROOT(x86), the next step will overwrite DOTNET_ROOT to refer to the 64-bit installation
    - name: Set DOTNET_ROOT(x86)
      if: matrix.runtime == 'win-x86'
      shell: pwsh
      run: |
        echo "DOTNET_ROOT(x86)=${env:DOTNET_ROOT}" | Out-File -FilePath $env:GITHUB_ENV -Append

    - uses: actions/checkout@v4
    - name: Setup .NET
      if: matrix.runtime != 'win-x86'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x
          10.0.x

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
  
    - name: Install Python dependencies
      run: pip install pyarrow pandas

    # only run this step if matrix.runtime is empty
    - name: 'test on ${{ matrix.name }}'
      if: matrix.runtime == ''
      run: dotnet test src/Parquet.slnx -c release --logger "trx;LogFileName=test-results.trx"

    # only run this step if matrix.arch is not empty
    - name: 'test on ${{ matrix.name }} with runtime ${{ matrix.runtime }}'
      if: matrix.runtime != ''
      run: dotnet test src/Parquet.slnx -c release -r ${{ matrix.runtime }} --logger "trx;LogFileName=test-results.trx"

    - name: 'test report on ${{ matrix.name }}'
      if: ${{ !cancelled() }}
      uses: dorny/test-reporter@v2
      with:
        name: test-results-${{ matrix.name }}
        path: "**/*-results.trx"
        reporter: dotnet-trx

  benchmark:
    name: ⚖️ High-Level Benchmarks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux x64
          - os: windows-latest
            name: Windows x64
          - os: macos-latest
            name: MacOS ARM64
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Run Benchmarks
      run: |
        dotnet run -c release -- highLevel
      working-directory: src/Parquet.PerfRunner

  build:

    runs-on: 'ubuntu-latest'
    name: '🏛️ Build NuGet'

    steps:
    - run: |
        echo head_ref: ${{ github.head_ref }}
        echo run id: ${{ github.run_id }}
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x
          10.0.x

    - name: Build Library
      run: |
        envsubst < src/Parquet/Globals.cs > g.tmp && mv g.tmp src/Parquet/Globals.cs
        cat src/Parquet/Globals.cs
        dotnet build src/Parquet.slnx -c release /p:Version=${{ env.VERSION }}${{ env.PACKAGE_SUFFIX }} /p:FileVersion=$VERSION /p:AssemblyVersion=$ASM_VERSION

    - name: collect artifacts
      run: |
        mkdir artifacts
        cp src/Parquet/bin/Release/*.nupkg artifacts/
        cp src/Parquet.Data.Analysis/bin/Release/*.nupkg artifacts/
        cp docs/rn/${{ env.VERSION }}.md artifacts/release-notes.md

    - uses: actions/upload-artifact@v4
      name: upload artifacts
      with:
        name: bin
        path: artifacts/*

  release:
    name: '🕋 Release library'
    runs-on: ubuntu-latest 
    needs:
    - test
    - build
    if: github.ref == 'refs/heads/master'

    steps:

      - name: ⬇️ Download Library binaries
        uses: actions/download-artifact@v4
        with:
          name: bin
          path: bin

      - name: print release notes
        run: cat bin/release-notes.md

      - name: 📦 Publish to NuGet
        run: dotnet nuget push bin/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

  release-all:
    name: '🕋 Make GitHub Release'
    runs-on: ubuntu-latest 
    needs:
    - release
    if: github.ref == 'refs/heads/master'

    steps:

      - name: ⬇️ Download Library binaries
        uses: actions/download-artifact@v4
        with:
          name: bin
          path: bin

      - name: 🔍 view artifacts to be used
        run: ls -R
        working-directory: .

      # https://github.com/softprops/action-gh-release
      - name: 📢 Create release
        uses: softprops/action-gh-release@v1
        if: ${{ !env.PACKAGE_SUFFIX }}
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          files: |
            bin/*.nupkg
          body_path: bin/release-notes.md
