name: 'Release'

on:
  workflow_dispatch:

env:
  VERSION: 4.0.2
  ASM_VERSION: 4.0.0

jobs:
  build:

    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Build
      run: dotnet build src/Parquet.sln -c release /p:Version=$VERSION /p:FileVersion=$VERSION /p:AssemblyVersion=$ASM_VERSION
    - name: Do It!
      run: dotnet nuget push src/Parquet/bin/Release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate